body{
    color: #333;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #222;
}

input{
    display: block;
    width: 90%;
    padding: 12px;
    margin: 12px auto;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid rgb(190, 164, 17);
    background: transparent;
    outline: none; 
    color: #fff;
    transition: background 0.3s;
}


input::placeholder{
    color: rgb(190, 164, 17);
    font-weight: 500;
}

input:hover{
    background: rgb(29, 29, 25);
    transition: color 0.3s;
}


input[type="submit"]{
    width: 50%;
    margin-top: 18px;
    padding: 12px;
    background: rgb(190, 164, 17);
    color: #fff;
}

input[type="submit"]:hover{
    background : rgb(255, 230, 0);
    color: #333;
}

form{
    width: 86%;
    margin: auto;
    background: #000;
    padding: 30px;
}

h2{
    margin-left: 20px;
    margin-bottom: 36px;
    padding: 20px;
    color: #fff;
}

.green {
    color: rgb(72, 202, 55);
}

.red{
    color: rgb(214, 69, 69);
}